{% extends "base.html" %}
{#{% extends "bootstrap/base.html" %}#}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% assets 'ml_datasets_css' %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

{% endblock %}

{% block title %} COVID {% endblock %}

{% block page_content %}

    <div class="mb-5">
        <div class="row justify-content-center my-5">
            <img height="110px" src="{{ url_for('static', filename='img/molssi.jpg') }}"
                 alt="The Molecular Sciences Software Institute"
                 class="my-auto">
            <h3 class="text-center my-auto">QikProp Processor v0.1</h3>
        </div>

{#      <p>Add comments here </p>  #}

    </div>

    <!------------------ Upload data form --------------------->
    <div class="container">

        <h1>QikProp v3.0 Computation</h1>
        <a href="/static/pdf/QP30.manual.pdf" download="QP30.manual.pdf">
            <button class="btn-download1"><i class="fa fa-download"></i> Download QikProp Manual</button>
        </a>
        <br><br>
{#        <form class="form form-horizontal" method="post" role="form" novalidate> #}
{#          <form class="form form-horizontal" method="post" role="form" novalidate enctype="multipart/form-data"> #}
{# #}
{#            {{ form.hidden_tag() }} #}
{#            {{ wtf.form_errors(form, hiddens="only") }} #}
{#              {{ form.csrf_token() }} #}
{# #}
{#            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }} #}
{#        </form> #}

<!--        Trial form based on parts-->
        <form class="form form-horizontal" method="post" role="form" novalidate enctype="multipart/form-data" id="qpform">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{wtf.form_field(form.input_file)}}


              {{wtf.form_field(form.fast) }}
              {{wtf.form_field(form.similar) }}
{#            <h2>Everything below here doesn't work and are experimental things we're working on.</h2> #}
{#            {{wtf.form_field(form.neutralize)}} #}
{#            {{wtf.form_field(form.nosa)}} #}
{# #}
{#            {{wtf.form_field(form.sim)}} #}
{#            {{wtf.form_field(form.nsim)}} #}
{# #}
{# #}
{#            {{wtf.form_field(form.molecule_bounds)}} #}
{#            Process the specified range of molecules from the input file. [-n lo:hi] #}
{#            <div class="form-row"> #}
{#            <div class="form-group col-md-6"> #}
{#            {{wtf.form_field(form.molecule_lower_bound)}} #}
{#            </div> #}
{#            <div class="form-group col-md-6"> #}
{#            {{wtf.form_field(form.molecule_upper_bound)}} #}
{#            </div> #}
{#            </div> #}
{#            <h2> Submit button still works, don't comment it out </h2> #}
            <p>{{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}</p>
        </form>

    </div>

    QikProp v3 has been provided by <a href="http://zarbi.chem.yale.edu/">William L. Jorgensen</a> and hosted as
    a service by the <a href="https://molssi.org/">Molecular Sciences Software Institute (MolSSI)</a>. To report a
    problem or suggest improvements, please open an issue on
    <a href="https://github.com/MolSSI/covid_apis">the Project GitHub</a>. Additional features and options will be
    added over time.<br><br>


    MolSSI thanks <a href="http://zarbi.chem.yale.edu/">William L. Jorgensen</a> and
    <a href="https://www.schrodinger.com/">Schrödinger</a> for the licensing of this software as a service.

    <div id="dialog-message" title="COVID">
        <p id="msg"></p>
    </div>

    {% include 'message_dialog.html' %}

    {% if hash is defined %}  <!-- Make sure hash exits before showing the details-->
        <div class="mb-5">
            <div class="row justify-content-center my-5">
                <h3>Files will be at
                    <a class='btn btn-link' href='/qpout/{{ hash }}'><h3>https://qikprop.molssi.org/qpout/{{ hash }}</h3></a></h3>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<!--    {% assets "file_upload_progress" %}-->
<!--        <script type="text/javascript" src="{{ ASSET_URL }}"></script>-->
<!--    {% endassets %}-->


{% endblock %}


